<form
  (submit)="save($event)"
  class="flex flex-col w-full max-w-200 mx-auto bg-[#232530] rounded-2xl py-8 sm:py-16 px-4 sm:px-6"
>
  <section class="flex flex-col gap-3">


    <mat-form-field
      appearance="outline"
      class="w-[90%] sm:w-[80%] mx-auto"
    >
      <mat-label>Nombre</mat-label>

      <input
        [formField]="form.name"
        matInput
        type="text"
      />

      @if (form.name().touched() && form.name().invalid()) {
        <mat-error>
          {{ form.name().errors()[0].message }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="w-[90%] sm:w-[80%] mx-auto"
    >
      <mat-label>Nombre real</mat-label>

      <input
        [formField]="form.realName"
        matInput
        type="text"
      />

      @if (form.realName().touched() && form.realName().invalid()) {
        <mat-error>
          {{ form.realName().errors()[0].message }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="w-[90%] sm:w-[80%] mx-auto"
    >
      <mat-label>Poder</mat-label>

      <input
        [formField]="form.power"
        matInput
        type="number"
      />

      @if (form.power().touched() && form.power().invalid()) {
        <mat-error>
          {{ form.power().errors()[0].message }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="w-[90%] sm:w-[80%] mx-auto"
    >
      <mat-label>Inteligencia</mat-label>

      <input
        [formField]="form.intelligence"
        matInput
        type="number"
      />

      @if (form.intelligence().touched() && form.intelligence().invalid()) {
        <mat-error>
          {{ form.intelligence().errors()[0].message }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="w-[90%] sm:w-[80%] mx-auto"
    >
      <mat-label>Universo</mat-label>

      <input
        [formField]="form.universe"
        matInput
        type="text"
      />

      @if (form.universe().touched() && form.universe().invalid()) {
        <mat-error>
          {{ form.universe().errors()[0].message }}
        </mat-error>
      }
    </mat-form-field>
  </section>

  <button
    [disabled]="!form().valid()"
    class="w-[90%] sm:w-[80%] mx-auto"
    mat-flat-button
    type="submit"
  >
    Guardar
  </button>
</form>